{% extends "layout.html" %} {% block title %} List all Tweets {% endblock %} {% block content %}

<section>
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <div></div>
                <div>
                    <a href="{% url 'store' %}" class="btn btn-primary">Create new Tweet</a>
                </div>
            </div>
            <div class="row mt-4">
                {% for tweet in tweets %}
                <div class="col-md-3">
                    <div>
                        <img src="{{ tweet.photo.url }}" style="aspect-ratio: 1/1;" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">{{ tweet.user.username }}</h5>
                            <p class="card-text">{{ tweet.text }}</p>
                            {% if user and user == tweet.user %}
                            <div class="d-flex gap-2 mt-4">
                                <a href="{% url 'edit' tweet.id %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'delete' tweet.id %}" class="btn btn-danger">Delete</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
